.about-section {
  padding-top: 67px;
  padding-bottom: 67px;
}

.about-section__title {
  @include section-title($title-position: center);
  margin-bottom: 32px;
  display: block;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}

.about-section__text {
  @extend %section-text;
  text-align: center;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.about-list {
  display: flex;
  gap: 27px;
  margin-bottom: 55px;
}

.about-list__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 12px;
}

.about-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $main-text-color;
}

.about-section__btn {
  @extend %btn;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
