.about-section {
  padding-top: 67px;
  padding-bottom: 67px;

  &__title {
    @include section-title($title-position: center);
    margin-bottom: 32px;
    display: block;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
  }

    &__text {
      @extend %section-text;
      text-align: center;
      max-width: 730px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 70px;
    }

    &__btn {
  @extend %btn;
  margin-left: auto;
  margin-right: auto;
}
}

.about-list {
  display: flex;
  gap: 27px;
  margin-bottom: 55px;
  justify-content: center;

  &__item {
  width: 350px;
}

&__item::before {
  content: "";
  background-image: url(../../images/desktop/about-photo@1x.png);
  width: 100%;
    height: 120px;
    display: block;
    background: $background-color;
border-radius: 4px;
display: flex;
@include center();
background-size: 70px;
background-repeat: no-repeat;
background-position: center;
}

&__title {
  @extend %list-title;
  margin-bottom: 12px;
}

&__text {
  @extend %list-text;
}
}
