.development-section {
  padding-top: 100px;
  padding-bottom: 70px;
  background: #f6f6f8;

  &__title {
    @include section-title();
    max-width: 350px;
    margin-bottom: 57px;
  }

  &__text {
    @extend %section-text;
    max-width: 490px;
    margin-bottom: 42px;
  }

  &__link {
    @extend %section-link;
    margin-bottom: 213px;
  }

  &__content {
    margin-bottom: 90px;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__info {
    margin-right: 120px;
  }
}

.development-list {
  gap: 30px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e0e0e0;
  padding-top: 70px;

  @media screen and (min-width: 780px) {
    gap: 100px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-evenly;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.47;
    color: $description-color;
  }

  &__text {
    @extend %section-text;
  }

  &__icon {
    fill: $accent;
    margin-right: 20px;
  }
}
