.development-section {
  padding-top: 100px;
  padding-bottom: 70px;
  background: #F6F6F8;
  margin-bottom: 67px;

  &__title {
  @include section-title();
  max-width: 350px;
  margin-bottom: 57px;
}

&__text {
  @extend %section-text;
  max-width: 490px;
  margin-bottom: 42px;
}

&__link {
  @extend %section-link;
  margin-bottom: 213px;
}
}

.development-list {
  display: flex;
  gap: 100px;

  &__content {
    display: flex;
    align-items: center;
  }

  &__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.47;
  color: $description-color;
  margin-bottom: 17px;
}

&__text {
  @extend %section-text;
}

&__icon {
    fill: $accent;
    margin-right: 20px;
}
}
