footer {
  padding-top: 70px;
  background: #f6f6f8;
  display: flex;
  gap: 30px;
}

// Контакти

.contacts-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $description-color;
  margin-bottom: 35px;
}

.contacts-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $main-text-color;
}

// Посилання

.links-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $description-color;
  margin-bottom: 35px;
}

.links-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $main-text-color;
}

// Проекти

.projects-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $description-color;
  margin-bottom: 35px;
}

.projects-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $main-text-color;
}

// Соціальні мережі

.socials-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $description-color;
  margin-bottom: 35px;
}

.socials-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $main-text-color;
}
