.footer {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #f6f6f8;

  &__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

&__title {
  @extend %list-title;
  margin-bottom: 35px;
}

&__contact:not(:last-child) {
  margin-bottom: 30px;
}

&__icon {
  fill: currentColor;
  margin-right: 15px
}

&__link {
  @extend %list-text;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

&__link:hover {
  color: $accent;
  fill: $accent;
}

&__info {
  @extend %section-info;
  border-top: 1px solid #E0E0E0;
  padding-top: 30px;
  margin-top: 70px;
}
}
