.hero-section {
    max-width: 1920px;
    padding-top: 319px;
    padding-bottom: 335px;
    background-repeat: no-repeat;
    background-image: url(../../images/desktop/hero-bg@1x.jpg);
    background-size: cover;

    &__text {
font-weight: 500;
font-size: 16px;
line-height: 1.25;
text-align: center;
color: $secondary-color;
margin-bottom: 20px;
}

&__title {
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
font-size: 48px;
line-height: 1.33;
text-align: center;
color: $secondary-color;
margin-bottom: 50px;
}

&__btn {
    margin-left: auto;
    margin-right: auto;
    @extend %btn;
}
}

