.hero-section {
    max-width: 1920px;
    padding-top: 319px;
    padding-bottom: 335px;
    background-repeat: no-repeat;
    background-image: url(../../images/desktop/hero-bg@1x.jpg);
    background-size: cover;

    // @media screen and (min-resolution: 2dppx),
    //     (min-resolution: 192dpi),
    //     (min-device-pixel-ratio: 2) {
    //     background-image: 
    //       url(../../images/desktop/hero-bg@2x.jpg);
    //   }
}

.hero-section__text {
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
color: $secondary-color;
margin-bottom: 20px;
}

.hero-section__title {
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
font-size: 48px;
line-height: 64px;
text-align: center;
color: $secondary-color;
margin-bottom: 50px;
}

.hero-section__btn {
    margin-left: auto;
    margin-right: auto;
    @extend %btn;
}

