.projects-section {
  background: #f6f6f8;
  padding-top: 100px;
  padding-bottom: 145px;

  &__title {
    @include section-title($title-position: center);
    margin-bottom: 30px;
  }

  &__text {
    @extend %section-text;
    margin-bottom: 90px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__btn {
    @extend %btn;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.projects-list {
  margin-bottom: 50px;
  @include grid($grid-gap: 30px);

  &__photo {
    border-radius: 10px;
  }
   &__item {
      @include grid-card($grid-number: 4, $grid-gap: 30px);
    }
}
