.projects-section {
background: #F6F6F8;
padding-top: 100px;
padding-bottom: 145px;
margin-bottom: 67px;
}

.projects-section__title {
    @include section-title($title-position: center);
    margin-bottom: 30px;
}

.projects-section__text {
@extend %section-text;
margin-bottom: 90px;
max-width: 680px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.projects-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.projects-list__photo {
    border-radius: 10px;
}

.projects-section__btn {
    @extend %btn;
}
