.video {
  padding-top: 70px;
  padding-bottom: 85px;
  background-color: black;
  margin-bottom: 165px;
}

.video__title {
  @include section-title(
    $title-position: center,
    $section-title-color: $secondary-color
  );
  margin-bottom: 30px;
}

.video__text {
@extend %section-text;
  margin-bottom: 235px;
}

.video__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: $secondary-color;
  border: 1px solid #ffffff;
  border-radius: 200px;
  padding: 40px 30px 40px 30px;
}
